{% extends 'home/base.html' %}


{% block CONTENIDO %}


    {% block content_organizaciones %}
    <h2>Lista de Organizaciones</h2>
    <h3>El siguiente es el detalle de las organizaciones protectoras de animales asociadas que poseen animales disponibles para tránsito</h3>
    {% for organizacion in organizaciones %}
        <ul>   
            <li> {{organizacion}}</li>
        </ul> 
    {% endfor %}
    {% endblock content_organizaciones %}
    <br>
    <a href="{%url 'home:crear-organizacion'%}"> Crear organización </a>
    <br>
    

    {% endblock CONTENIDO %}